body,html {
	margin: 0;
}

.page,.wrapper,#container,.sidebar,#sidenav,.main,.content {
	min-height: 630px;
}

.page {
	text-align: center;
}

.wrapper,#container {
	padding-bottom: 15px;
	padding-top: 2.1%;
	text-align: left;
}

#top-bar {
	background-color: #ab1a2a;
	height: 50px;
	width: 100%;
	text-align: right;
}

#top-bar .login-nav,#top-bar .login-nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#top-bar .login-nav {
	padding-right: 15px;
	padding-top: 5px;
	margin: 0px;
}

.login-nav li {
	padding-left: 5px;
	display: inline;
}

.login-nav .login-link {
	border-left: 1px solid white;
}

.wrapper {
	width: 1100px;
	margin: 0 auto;
}

.notifications {
	background-color: black;
	color: white;
	width: 82px;
	height: 18px;
	padding: 1px 10px;
	text-align: center;
}
.nav{
	width: 100%;
	height: 15px;
	background-color: #ECECEC;
}
.content {
	background-color: #ECECEC;
	padding-left: 10px;
	padding-right: 10px;
	overflow:auto;
}
td.attr-label{
	width: 135px;	
}
h2.subheading {
	margin-left: 38px;
}

img.avatar {
	margin-left: 85px;
	float: left;
	margin-right: 20px;
}

.photo-info .info {
	margin-top: -23px;
}

.application-info {
	margin-left: 84px;
}

#sidenav a.selected,#sidenav li a:hover {
	color: #f9966b;
}

.info td.field {
	width: 525px;
	height: 52px;
}

.info tr {
	height: 52px;
}

.field p {
	margin: 0;
	position: relative;
}

.edit-btn {
	position: absolute;
	top: -18px;
}
.edit-btn.extended{
	right: -55px;
}

form[name=profile] {
	margin-left: 200px;
}
.project-list ul.as-selections li.as-original input[type=text] {
	width: 153px;
}

form .info input[type='text'],
form .info textarea {
	width: 494px;
	padding: 10px;
}
form .info textarea {
	height: 157px;
}

.info ul.as-selections {
	width: 512px;
}

.required .attr-label:after {
	content: " *";
	color: red;
}

.project-list .status {
	float: left;
}

.project-list .status p {
	width: 80px;
	height: 21px;
	margin-top: 47px;
	margin-right: 20px;
	text-align: center;
	color: white;
/* 	padding: 10px 5px; */
/* 	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px; */
}

.project-list .status a {
	margin-left: 24px;
	text-decoration: underline;
}

.status .pending,.status .apply,.status .invite {
	background-color: #388E8E;
}

.status .accepted {
	background-color: #32CD32;
}

.status .rejected {
	background-color: #FA8072;
}

.status .deleted {
	background-color: #E23F5F;
}

.project-list .project-info {
	float: right;
	background-color: #F8F8FF;
	width: 535px;
	padding-left: 21px;
}

.accounts {
	float: right;
	width: 535px;
	padding-left: 21px;
}

.project-list li {
	margin-bottom: 25px;
}

.project-info .delete {
	background-color: #E80000;
	height: 20px;
	width: 55px;
	text-align: center;
	color: white;
	cursor: pointer;
}

.project-info .edit,.project-info .delete {
	float: right;
}

.filters {
	margin-left: 38px;
}

/* -- Results table styles -- */
.searchUser table{
	border-collapse: collapse;
	border: 1px solid #ddd;
}
.searchUser td,
.searchUser th{
	text-align: center;
	width: 180px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.project-list,
.additions_table {
	border-collapse: collapse;
	border: 1px solid #ddd;
	/* margin: 0px;
	padding: 0; */
}

.project-list td,
.project-list th,
.additions_table td,
.additions_table th {
	text-align: center;
	width: 180px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.project-list th,
.additions_table th {
	font-weight: bold;
	font-style: italic;
}

.content .additions_table td,
.content .additions_table th{
	width: 323px;
}

#pager {
	margin-top: 20px;
}

form .arrow {
	cursor: pointer;
}

/* -- End of results table styles -- */

/* --- Tab styles from http://css-tricks.com/better-tabs-with-round-out-borders/ --- */
.tabrow {
	text-align: center;
	margin: 0 5px 0 0;
	padding: 0;
	line-height: 1px;
	float: right;
	display: block;
	width: auto;
	white-space: nowrap;
}

.tabrow li {
	/* border: 1px solid #AAA; */
	display: inline;
	color: white;
	position: relative;
	z-index: 0;
	border-bottom: none;
	margin: 0 -5px;
	padding: 15px 20px 15px;
	top: -24px;
	cursor: pointer;
}

.tabrow li a {
	color: white;
	text-decoration: none;
	display: inline-block;
}

.tabrow li.selected {
	background: #ECECEC;
	color: #000;
	z-index: 2;
}

.tabrow li.selected a {
	color: black;
	font-weight: bold;
}

.tabrow:before {
	z-index: 1;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	border-width: 0 1px 1px 0;
}

.tabrow li {
	border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
}
.tabrow li:after {
	border-bottom-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	border-width: 0 0 1px 1px;
}

.tabrow li {
	background: -o-linear-gradient(top, #7e7e7e 50%, #696969 100%);
	background: -ms-linear-gradient(top, #7e7e7e 50%, #696969 100%);
	background: -moz-linear-gradient(top, #7e7e7e 50%, #696969 100%);
	background: -webkit-linear-gradient(top, #7e7e7e 50%, #696969 100%);
	background: linear-gradient(top, #7e7e7e 50%, #696969 100%);
}

.lt-ie10 .tabrow li {
	background-color: #7e7e7e;
}
/* --- End of tab styles --- */

/* --- Pagination Styles --- */
.holder a {
	text-decoration: underline;
}
/* --- End of pagination styles --- */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

ul {
	list-style-type: none;
}

.hidden {
	display: none;
}

#wrapper table,#wrapper tr,#wrapper td {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.actionButton,
.filter-button {
	padding: 5px;
	display: inline-block;
	width: auto;
	height: 20px;
	text-decoration: none;
	color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	-khtml-border-radius: 10px; 
}
.filter-button{
	background-color: #000;
}
.actionButton.hide, 
.actionButton.remove,
.actionButton.add-new {
	background-color: #000099;
}
.actionButton.add-new{
	margin-bottom: 20px;
}
.actionButton.unhide{
	background-color: #FF8C00;
}

.actionButton.apply,
.actionButton.accept,
.actionButton.invite {
	background-color: #006633;
}

.actionButton.hide,
.filter-button.hide{
	font-style: italic;
}
.filter-button.hide{
	margin-bottom: 10px;
}
.hidden-message{
	margin-right: 6px;
	font-style: italic;
}
.actionButton.reject{
	background-color: #ab1a2a;
}
.search-container{
	margin: 1px 1px 1px 0;
	float: right;
	width: 561px;
	padding-left: 5px;
}
.search-container .num-results{
	margin-right: 10px;
	width: 120px;
	display: inline-block;
}
.search-container input[type=text]{
	border: 0;
	width: 380px;
	height: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.search-container input[type=submit]{
	text-indent: -9999px;
	background: url(../images/search.png) no-repeat -4px -4px;
	width: 33px;
	height: 33px;
	border: 0;
	cursor: pointer;
}
table.project-list .header{
	background: url("../images/sort_incr.png") no-repeat center right;
	cursor: pointer;
}
table.project-list .header.headerSortDown{
	background-image: url("../images/sort_decrease.png");
}

table.project-list .header.empty{
	background: none;
}
.filter-list h1{
	float: left;
}
.filter-list{
	width: 100%;
}
h1{
	font-size: 12pt;
	margin: 0px;
	padding: none;
}
td{
	margin: 0px;
	padding: none;
}
p{
	margin: 0px;
	padding: none;
}
body .ui-dialog .ui-dialog-content{
	overflow: scroll;
	height: 500px !important;
}
#cover-letter{
	width: 445px;
	height: 345px;
}
input[type="submit"].save{
	width: 115px;
	margin-left: 30%;
	margin-bottom: 10px;
}
.newUser{
	background-color: #FFFFFF;
	padding-bottom: 1%;
	border-color: #ECECEC; 
}

td.buttonTD{
	width: 220px;
}
.content .additions_table td.admin-button,
.content .additions_table th.empty{
	width: 100px;
}

#top-bar .login-nav .change-role {
	width: 90px;
	height: 20px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px; /* future proofing */
	-khtml-border-radius: 11px; /* for old Konqueror browsers */
	padding: 2px;
	margin-right: 2px;
	background-color: #ECECEC;
}

#top-bar .login-nav .change-role a {
	color: black;
}

#top-bar .login-nav .acting-as {
	float: left;
}

#top-bar .login-nav .acting-as a {
	float: left;
	width: 30px;
	height: 20px;
	padding: 2px;
	margin-left: 2px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px; /* future proofing */
	-khtml-border-radius: 11px; /* for old Konqueror browsers */
	background-color: #ECECEC;
	color: black;
}
#usersearch {
	margin: 0 auto;
}
#container table.dataTable tr.odd{
	background-color: #ECECEC;
}
.content table.searchable,
.dataTables_wrapper{
	margin-bottom: 20px;
	width: 100%;
}
table.dataTable thead th.sorting_disabled{
	cursor: default;
}
.content table.dataTable td,
.content table.dataTable th{
	padding: 0px;
}
.content table.dataTable td p{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 30px;
	max-width: 150px;
	padding: 0;
	margin: 0;
}
.content table.dataTable td p.req-msg{
	margin: 0 auto;
	max-width: none;
}
p.error-msg{
	color: red;
	font-weight: bold;
	margin-bottom: 10px;
	display: none;
}

#container .has-error{
	border: 2px solid red;
}
